<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- アプリケーションのサンドボックス化を有効にする -->
    <key>com.apple.security.app-sandbox</key>
    <true/>
    
    <!-- ユーザーが選択したファイルへの読み書きアクセスを許可 -->
    <key>com.apple.security.files.user-selected.read-write</key>
    <true/>
    
    <!-- セキュリティで保護されたブックマークデータの使用を許可 -->
    <key>com.apple.security.files.bookmarks.app-scope</key>
    <true/>
    
    <!-- ピクチャライブラリへのアクセス -->
    <key>com.apple.security.assets.pictures.read-write</key>
    <true/>
    
    <!-- 画像へのアクセス -->
    <key>com.apple.security.assets.images.read-write</key>
    <true/>
</dict>
</plist>
